<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/stylehome.css" />
    <title>Friendbot</title>
  </head>
  <body>
    <div class="container">
      <div class="image-container">
        <img src="..\static\imgs\logo.png" alt="Friendbot Logo" class="logo" />
      </div>
      <div class="button-container">
        <button id="teacher" class="teacher-button">Teacher</button>
        <div class="separator">|</div>
        <button id="student" class="student-button">Student</button>
      </div>
    </div>
    <script src="..\static\scripts\scripthome.js"></script>
  </body>
</html>
