.app-pane {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
}

.chat-container {
  width: 100%;
  overflow-y: scroll;
  padding: 3% 0 9% 0;
}
.chat-messages {
  padding-bottom: 10%;
}

.message {
  padding: 8px 12px;
  margin: 5px;
  border-radius: 5px;
}
.user-message {
  background-color: #dbd298; /* User message background color */
}
.response-message {
  background-color: #ffee7a; /* Response message background color */
}

body {
  background-color: skyblue;
  margin: 0;
  padding: 0;
}

.logo {
  height: 50px;
}

.button {
  height: 40px;
  width: 150px;
  background-color: #007bff;
  border-radius: 50px;
  color: black;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff8000;
}

.mt-3 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7%;
  background-color: #009bd8;
  /*display: flex;*/
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.form-control {
  opacity: 1;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.emoji-box {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  padding: 5px; /* Adjust this value */
  bottom: 10px; /* Adjust this value */
  position: fixed;
  z-index: 1000;
  background-color: #009bd8;
  margin-bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emoji-box .emoji {
  height: 50px;
  cursor: pointer;
  /* margin-right: 35px; Add spacing between emojis */
}

.logo {
  height: 50px;
  cursor: pointer;
  margin-right: 35px; /* Add spacing between emojis */
}

.emoji-box .emoji:last-child {
  margin-right: 0; /* Remove margin from the last emoji */
}
.emoji-box .emoji:hover {
  opacity: 0.5;
}

.btn-primary {
  height: 37px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Adjust styles for tablets and smaller screens here */

  .chat-container {
    padding: 7% 0 13% 0;
  }
  .emoji-box {
    margin-bottom: 100px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .emoji-box .emoji {
    margin: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  /* Adjust styles for mobile devices here */

  .chat-container {
    padding: 10% 0 17% 0;
  }

  .mt-3 {
    height: 6%;
  }
  .emoji-box {
    margin-bottom: 80px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .emoji-box .emoji {
    margin: 0;
    height: 35px;
  }
}
